# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
myapp/node_modules
myapp/.pnp
myapp/.pnp.js

# testing
/myapp/coverage

# production
/myapp/build

# misc
/myapp.DS_Store
/myapp.env.local
/myapp.env.development.local
/myapp.env.test.local
/myapp.env.production.local

/myappnpm-debug.log*
/myappyarn-debug.log*
/myappyarn-error.log*